<div class="row mt-30">
    <div class="col-md-12 mt-15">

        <form action="/register" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_token" value="{{csrf_token()}}">
            <div class="row">
                <div class="col-md-5 mt-15 mr-0">
                    <div class="field {{ $errors->has('name') ? 'invalid' : '' }}">
                        <input type="text" name="name" placeholder="Անուն (լատինատառ)">
                    </div>

                    @if($errors->has('name'))
                    <span class="error">Պարտադիր Լրացման Դաշտ</span>
                    @endif
                </div>
                <div class="col-md-7 mt-15">
                    <div class="field  {{ $errors->has('name') ? 'invalid' : '' }}">
                        <input type="text" name="surname" placeholder="Ազգանուն (լատինատառ)">
                    </div>
                    @if($errors->has('surname'))
                    <span class="error">Պարտադիր Լրացման Դաշտ</span>
                    @endif
                </div>
                <div class="col-md-12 mt-15">
                    <div class="field {{ $errors->has('phone') ? 'invalid' : '' }}">
                        <input type="text" name="phone" placeholder="Հեռախոսահամար +374 xx xxxxxx">
                    </div>

                    @if($errors->has('phone'))
                    <span class="error">Պարտադիր Լրացման Դաշտ</span>
                    @endif
                </div>
                <div class="col-md-12 mt-15">
                    <div class="field {{ $errors->has('email') ? 'invalid' : '' }}">
                        <input type="email" name="email" placeholder="Էլ.փոստի հասցե">
                    </div>

                    @if($errors->has('email'))
                    <span class="error">Պարտադիր Լրացման Դաշտ</span>
                    @endif
                </div>
                <div class="col-md-6 mt-15">
                    <div class="field {{ $errors->has('password') ? 'invalid' : '' }}">
                        <input type="password"  name="password" placeholder="Ծածկագիր">
                    </div>

                    @if($errors->has('password'))
                    <span class="error">Սխալ Գաղտնաբառ</span>
                    @endif
                </div>
                <div class="col-md-6 mt-15">
                    <div class="field">
                        <input type="password" name="password_confirmation" placeholder="Կրկնել ծածկագիրը">
                    </div>
                </div>
                <div class="col-md-6 mt-15">
                    <div class="field">
                        <input type="password" placeholder="Վերբեռնել անձնագիրը">
                    </div>
                </div>
                <div class="col-md-6 mt-15">
                    <div class="field {{ $errors->has('passport') ? 'invalid' : '' }}">
                        <input type="file" name="passport" placeholder="">
                    </div>

                    @if($errors->has('passport'))
                    <span class="error">{{ implode(' ', $errors->get('passport')) }}</span>
                    @endif
                </div>
                <div class="col-md-12 mt-15 text-left">
                    <div class="checkbox">
                        <input type="checkbox" placeholder="Կրկնել ծածկագիրը">
                        <p class="font-xs">Ես հաստատում եմ որ հանդիսանում եմ ծխախոտային արտադրանքի
                            սպառող, ՀՀ քաղաքացի և որ լրացելէ իմ 18 տարին</p>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <button type="submit" class="btn btn-dark">ԳՐԱՆՑՎԵԼ</button>
                </div>
            </div>
        </form>
        @endif

        <form action="/login" method="POST">
            <input type="hidden" name="_token" value="{{csrf_token()}}">
            <div class="row mt-20">
                <div class="col-md-12">
                    <p class="font-normal">Արդեն գրանցվա՞ծ ես</p>
                </div>
                <div class="col-md-5 mt-15 mr-0">
                    <div class="field">
                        <input type="email" name="email" placeholder="Էլ.փոստի հասցե">
                    </div>
                </div>
                <div class="col-md-7 mt-15">
                    <div class="field">
                        <input type="password" name="password" placeholder="Ծածկագիր">
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <button type="submit" class="btn btn-dark">ՄՈՒՏՔ ԳՈՐԾԵԼ</button>
                </div>
            </div>

            @if($errors->has('email'))
            <span class="login-error">
                                        Նշված դաշտերով օգտատեր չի գտնվել
                                    </span>
            @endif

            @if (Session::has('active'))
            <div class="after-register">
                {{ Session::get('active') }}
            </div>
            @endif

        </form>
    </div>
</div>