.flex {
	display: flex;

    &.md {

    }
}
.wrap {
	flex-wrap: wrap;
}
.justify {
	&-center { justify-content: center;}
	&-start { justify-content: flex-start;}
	&-end { justify-content: flex-end;}
	&-space-around { justify-content: space-around;}
	&-space-between { justify-content: space-between;}
}
.align {
	&-center {align-items: center;}
	&-flex-start {align-items: flex-start;}
	&-flex-end {align-items: flex-end;}
}

.list {
	padding-left: 20px;

	&.disc {
		list-style-type: disc;
	}
	&.circle {
		list-style-type: circle;
	}
}

.fullWidth {
	width: 100%;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.page {
	height: 100vh;
}
.content {
	padding: 30px 0px;

	.box {
		border-radius: 4px;
		box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.26);
	}
}

.article {
	padding: 15px;

	p {
		margin-top: 10px;
	}
}

// Headings

.whiteHeading {
	padding: 25px 0;
	color: $dark;
	border-radius: 5px 5px 0 0;
	background-color: #fff;

	h2 {
		font-weight: bold;
	}
}
.darkHeading {
	padding: 25px 10px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	background-color: $dark;

	h2 {
		font-weight: bold;
	}
}

.gifts {
	color: $dark;
	background-color: #fff;

	p {
		font-weight: bold;
	}

	.gift-img {
		min-height: 75px;
	}

	.orLine {
		position: relative;
		text-align: center;

		&::after {
			content: " ";
			width: 3px;
			margin: 10px auto 0;
			display: block;
			left: 0;
			right: 0;
			height: calc(100% - 50px);
			position: absolute;
			top: 25px;
			background-color: $dark;
		}
	}
}


// CountDown Plugin 

.countDown {
	margin-top: 0px;

	 h2 {
		color: #fff;
		font-size: 30px;
		padding: 0px 0 20px;
		font-weight: normal
	}

	.title {
		height: 50px;
		position: relative;

		span {
			display: inline-block;
			width: 92px;
			font-size: 16px;
			color: #fff;
			line-height: 50px;
		}
	}

	.elements {
		& > div {
			display: inline-block;
			margin: 20px 10px 0;
			width: 72px;
			height: 100px;
			background: #fff;
			border-radius: 5px;
			color: #19191a;
			line-height: 100px;
			font-size: 35px;
		}
	}
}

// Call Action 

.callAction {
	position: fixed;
    bottom: 30px;
    left: 30px;
    background: red;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}