header {

	.logo {
		width: 200px;
		margin: 0 auto;
		height: 62px;
		line-height: 62px;

		img {
			width: 100%;
		}
	}

	nav {
		ul {
			li {
				float: left;
				width: 25%;
				padding: 0 10px; 
				text-align: center;

				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}

				a {
					color: #fff;
					font-size: 14px;
					display: block;
					min-height: 62px;
					padding: 10px;
					@extend .flex;
					@extend .justify-center;
					@extend .align-center;
					border: 2px solid transparent;
					background-color: #2A3958;
					@include transition(all 0.2s);

					&:hover, &.active {
						color: #fff;
						text-decoration: none;
						border-color: #fff;
					}
				}
			}
		}
	}
}