.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

.no-underline {
	text-decoration: none;
}
.underline {
	text-decoration: underline;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

// Captions
h1, .h1 {
	font-size: 30px;
}
h2, .h2 {
	font-size: 24px;
}
h3, .h3 {
	font-size: 20px;
}
h4, .h4 {
	font-size: 18px;
}
h5, .h5 {
	font-size: 16px;
}

// Simple Text Sizes
.font-xs {
	font-size: 12px;
}
.font-sm {
	font-size: 14px;
}
.font-normal {
	font-size: 16px;
}
.font-md {
	font-size: 18px;
}
.font-lg {
	font-size: 20px;
}
.font-xl {
	font-size: 22px;
}
.font-xxl {
	font-size: 24px;
}
.font-xxxl {
	font-size: 28px;
}

// Text Style
.italic {
	font-style: italic;
}

// Text Colors 

.white {
	color: #fff;
}

.blue {
	color: $blue;
}

.text {
	color: $text;
}

.dark {
    color: $dark;
}

.red {
	color: red;
}

.w-100 {
    font-weight: 100;
}
.w-bold {
	font-weight: bold;
}